* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  background-color: burlywood;
  margin:0;
  padding:0;
  font-family: arial, helvetica, sans-serif

  
}

header, main, footer {     
   color: firebrick;
   background-color: burlywood;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
  
}

header {
    
    background-color: #cccc00; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

nav button {
    margin: .2rem 2%;
    background-color: #cc6600;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    position: absolute;
    top: 12%;
    right: 2%;
}

nav {
    margin: 1em 0.1em;
    background-color: #cc6600;
    
    }
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc6600;
     
}

nav ul li a {
    display: flex;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    padding: 0.6rem 2rem;
    text-decoration: none;
}

nav ul li.active a {
    background-color: rgba(0,0,0,2);
}

nav ul li a:hover {
    background-color: #052d84;
}

nav ul.hide {
    display: none;
}


.topnav {
  overflow: hidden;
  background-color: #cc6600;
}

.topnav a {
  float: left;
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:darkblue;
  color: white;
}

.active {
  background-color: black;
  color: #cc6600;
}







.topnav .icon {
  display: none;
}


h1 {
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    font-size:  2.2rem;
    color:  #cc3390 ;
    text-align: center;
    
    
}
header img {
    display: flex;
    width: auto;
    max-width: 100%;
    height: auto;
    
}
h2 {
    
    color: #cc3390;
    text-decoration-line: underline;
    font-size:  1.4rem ;
    text-align: center;
    
}

.h2 {
    
   text-align: center;
    
}

header .subheading {
    display: flex;
    font-size: 1.2rem;
    color: #a72170;
    
}



.highlow{
text-align:center;
align-self: auto;
font-size: 2.0rem;
      
}

.highlowimage{
text-align:center;
align-self: auto;
font-size: 2.0rem;
}

.sidebar1{
    align-content: center;
    align-self: center;
    
    padding-bottom: 20px;
    height:auto;
    width:auto;
    max-width: 100%;

   
    
    
}
    
    

main {
   
 border-style: solid;
    
    
}
main h2 {
    display: flex;
    font-size: 2.5rem;
    color: #cc3300;
    justify-content: center;
    
    
}

thead {color:black;
    background-color: #7fb989;
    font-size: 20px;
    font-weight: bold;
    }
    
.row {
    color:white;
    background-color: #99cc00;
    font-size: 20px;
    font-weight: bold;
}
          
      
tr:nth-child(2n+2) {
    color:black;
    background-color: #e7f0ed;
    text-align: center;
    }

tr:nth-child(2n+3) {
    color:black;
    background-color: #e7ffed;
    text-align: center;
    
    }

.googlemaps{
    text-align: center;
    justify-content: center;
    
}

h3 {
    text-align: center;
}




footer {
    background-color: #cccc00;
    color: #000000;
    font-size: 0.5em;
    text-align: center;
    margin-top: 1.5em;
    padding: 1em 0 1em 0;
}

.textFun {
    
    text-align: center;
    font-size: 1.2em;
    align-content: center;
    
}




form#w-form {
    text-align: center;
    margin-top: 1em; 
    padding: 0.5em 1em;
    background-color: yellowgreen;
}



form label {
    justify-content: center;
    align-content: center;
    display: block;
    margin: .9em;
}

form label span {
    display: block;
    padding-top: 0.9em;
    padding-bottom: 0.2em;  
    font-style: oblique;
    font-size: 0.9em;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    
}

.grid div {
    border: 1px solid rgb(0,95,107);
    border-radius: 3px;
    background-color: rgba(0,95,107,0.8);
    padding: 0.2em;


}


.grid2 {
  display: grid;
  grid-template-columns: max-content;
  grid-gap: 1px;
  grid-template-rows: max-content;
  grid-auto-rows:auto 100px;
  box-shadow: 10px 10px 5px grey;
  
}


.article-img {
  height: auto;
  width: auto;
  object-fit: cover;
  max-width: 100%;
    
}

.article-img:hover {box-shadow: 5px 5px 10px gray;}


legend {
    
    margin: 0 auto;
    
}


header {
  display: flex;
  align-items: center;
}

.salesmenu{
  height: auto;
  width: auto;
  object-fit: cover;
  max-width: 100%; 

    
}


